@using Microsoft.AspNetCore.Components.Forms

<div class="mb-3">
    <label class="form-label">@Label</label>
    @if (IsReadOnly)
    {
        <div class="form-control-plaintext">@(Value ?? "Not set")</div>
    }
    else
    {
        <input type="text" 
               class="form-control" 
               @bind="Value" 
               @bind:after="() => ValueChanged.InvokeAsync(Value)"
               placeholder="@Placeholder" />
    }
</div>