@using Microsoft.AspNetCore.Components.Forms
@inherits Blazing.Mvvm.Components.MvvmComponentBase<clypse.portal.Application.ViewModels.SingleLineTextFieldViewModel>

<div class="mb-3">
    <label class="form-label">@Label</label>
    @if (IsReadOnly)
    {
        <div class="form-control-plaintext">@(Value ?? "Not set")</div>
    }
    else
    {
        <input type="text"
               class="form-control"
               value="@ViewModel.Value"
               @oninput="async e => await ViewModel.OnValueChangedAsync(e.Value?.ToString())"
               placeholder="@Placeholder" />
    }
</div>
