@if (Show)
{
    <div class="modal" style="display: block; background-color: rgba(0,0,0,0.5);" @onclick="HandleBackdropClick">
        <div class="modal-dialog modal-dialog-centered" @onclick:stopPropagation="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="bi bi-calculator me-2"></i>
                        Password Generator
                    </h5>
                    <button type="button" class="btn-close" @onclick="HandleCancel"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Password generator options will be available here in future updates.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="HandleCancel">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" @onclick="HandleOk">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
}
