services:
  localstack:
    image: localstack/localstack-pro:latest
    container_name: localstack
    ports:
      - "4566:4566" # LocalStack Gateway
    environment:
      - DEBUG=0
      - PERSISTENCE=1
      - SERVICES=s3,secretsmanager,kms,ssm,sts,lambda,cloudformation,iam,cognito-idp,cognito-identity
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
    volumes:
      - localstack-data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 5s
      retries: 10
      
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - localstack     
      
  s3-browser:
    image: gcatanese/s3-simple-browser
    ports:
      - "8081:8081"
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - S3_LOCALSTACK_URL=http://localstack:4566
    depends_on:
      - localstack     

  clypse-setup:
    build:
      context: ..
      dockerfile: clypse.portal.setup/Dockerfile
    container_name: clypse-setup
    depends_on:
      localstack:
        condition: service_healthy
    environment:
      - AWS_EC2_METADATA_DISABLED=true
      - CLYPSE_SETUP__BaseUrl=http://localstack:4566
      - CLYPSE_SETUP__AccessId=test
      - CLYPSE_SETUP__SecretAccessKey=test
      - CLYPSE_SETUP__Region=us-east-1
      - CLYPSE_SETUP__InteractiveMode=false
      - CLYPSE_SETUP__ResourcePrefix=testing
    restart: "no"

volumes:
  localstack-data: