services:
  localstack:
    image: localstack/localstack-pro:latest
    container_name: localstack
    ports:
      - "4566:4566"
      - "80:80"
    environment:
      - DEBUG=0
      - PERSISTENCE=0
      - SERVICES=s3,secretsmanager,kms,ssm,sts,lambda,cloudformation,iam,cognito-idp,cognito-identity,cloudfront # currently this only works on localstack pro
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
      - GATEWAY_LISTEN=0.0.0.0:80,0.0.0.0:4566
      - DISABLE_CORS_CHECKS=1
    volumes:
      - localstack-data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/_localstack/health"]
      interval: 5s
      timeout: 5s
      retries: 10
      
  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - localstack
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    command: >
      sh -c "
      apk add --no-cache openssl &&
      mkdir -p /etc/nginx/certs &&
      openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/nginx/certs/selfsigned.key -out /etc/nginx/certs/selfsigned.crt -subj '/CN=localhost' &&
      nginx -g 'daemon off;'
      "
      
  s3-browser:
    image: gcatanese/s3-simple-browser
    ports:
      - "8081:8081"
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - S3_LOCALSTACK_URL=http://localstack:4566
    depends_on:
      - localstack     

volumes:
  localstack-data: